@{
    ViewBag.Title = "Enrollement and Admission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br>
    <br>
    <div class="page-header" style="color: #000033">
        <center><h2><strong>Admission and Enrollment</strong></h2><br /></center>
    </div>
     <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
            <a href="@Url.Action("Admission", "Admin")">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/images/administration.png" height="100" width="100" alt="" />
                    <div class="overlay">
                        <h2>Admission</h2>
                        <p class="info">
                            Enroll with the latest RFID technology. 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
            <a href="@Url.Action("Enrollment", "Admin")">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/images/administration.png" height="100" width="100" alt="" />
                    <div class="overlay">
                        <h2>Enrollment</h2>
                        <p class="info">
                            Enroll with the latest RFID technology. 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
            <a href="@Url.Action("EnrollList", "Admin")">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/images/administration.png" height="100" width="100" alt="" />
                    <div class="overlay">
                        <h2>List of Enrolled Students</h2>
                        <p class="info">
                            See all enrolled students or proccess one 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
            <a href="@Url.Action("StudentList", "Admin")">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/images/administration.png" height="100" width="100" alt="" />
                    <div class="overlay">
                        <h2>Students</h2>
                        <p class="info">
                            Enroll with the latest RFID technology. 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
            <a href="@Url.Action("GradeLevel", "Admin")">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/images/administration.png" height="100" width="100" alt="" />
                    <div class="overlay">
                        <h2>Grade Levels</h2>
                        <p class="info">
                            Manage grade levels of students 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
            <a href="@Url.Action("Sections", "Admin")">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/images/administration.png" height="100" width="100" alt="" />
                    <div class="overlay">
                        <h2>Sections</h2>
                        <p class="info">
                           Manage Sections of every classes
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>